<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='static/css/style.css'>
    <link rel='shortcut icon' href={{url_for('static', filename='img/favicon.ico' )}}>
    <title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
</html>